#Block3{
    padding-top: 20em;
    background-color: black;
    height: 40em;
    width: 110em;
}
#Photo6{
    height: 40em;
    width: 30em;
    z-index: 5;
    position: absolute;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
    margin-top: -25em;
    margin-left: 10em;
}
#Block3LineGreen{
    height: 1em;
    width: 25em;
    background-color: #304f3b;
    position: absolute;
    margin-left: 45em;
    margin-top: -15em;
    z-index: 5;
    border: none;
}
#ContainerIconBlocks{
    display: grid;
    grid-template-columns: 20em 20em;
    align-items: center;
    height: 45em;
    width: 40em;
    position: absolute;
    margin-top: -15em;
    margin-left:7em;
    background-color: black;
}
#Item1{
    height: 5em;
    width: 5em;
}
#Item2{
    height: 5em;
    width: 5em;
}
#Item3{
    height: 5em;
    width: 5em;
}
#Item4{
    height: 5em;
    width: 5em;
}
.ItemText{
    font-size: 2em;
    color: white;
}
#Item1Text{
    font-size: 1.2em;
    color: white;
}
#Item2Text{
    font-size: 1.2em;
    color: white;
}
#Item3Text{
    font-size: 1.2em;
    color: white;
}
#Item4Text{
    font-size: 1.2em;
    color: white;
}
#Block3Text{
    color: white;
    position: absolute;
    margin-top: 10em;
    margin-left: 35em;
    font-size: 1.6em;
    text-align: left;
}

